body {
    background-color: rgb(241, 244, 244);
}

p {
    text-align: justify;
}

.footer {
    background-color: #d0f6d2;
    color: #09090b;
    text-align: center;
    height: 60px;
    padding: 15px 0px 0px 0px;
}

.d-block {
    max-height: 1000px;
}


/* Transparent navbar */

.navbar {
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 1030;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav .nav-item {
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-link {
    padding: 1rem 1rem;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.navbar-brand,
.navbar-nav .nav-link {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    gap: 10px;
    /* Adds space between navbar items */
}


/* Navigation links */

.navbar-nav .nav-link {
    color: #ffffff;
    /* Default color for navigation links */
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa;
    /* Color when hovering over navigation links */
    text-decoration: underline;
}


/* Active link style */

.navbar-nav .nav-item.active .nav-link {
    color: #050505;
    /* Color for the active link */
}

.navbar-brand img {
    filter: none;
    /* Or adjust the filter to achieve the desired effect */
}


/* For dropdown menus */

.navbar .dropdown-menu {
    background-color: rgba(7, 6, 6, 0.8);
    /* Semi-transparent background for dropdown */
}

.navbar .dropdown-item {
    color: rgb(15, 12, 12);
}

.navbar .dropdown-item:hover {
    background-color: rgb(248, 244, 244);
    color: black;
}

.custom-navbar {
    background-color: rgb(236, 228, 228);
}

#aboutCollege {
    /* background-color: aqua; */
    background-image: url('../images/About_us.jpg');
    background-repeat: no-repeat;
    height: auto;
    color: #2F323A;
}

#photoGallery {
    max-width: 300px;
    background-color: mintcream;
    border: none;
    padding: 5 px;
}

img {
    max-width: 100%;
}

.gallery img {
    background-color: #09f51c;
    padding: 1px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#gallery-modal .modal-img {
    width: 100%;
}